body {
    font: 11px sans-serif;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
  .dot {
    stroke: #000;
  }
  
  .tooltip {
    position: absolute;
    width: auto;
    height: auto;
    pointer-events: none;
    color: #FFF;
  }
  
  a {
      font: 32px sans-serif;
      text-decoration: none;
      display: inline-block;
      padding: 10px 25px;
  }
  
  a:hover {
      background-color: #ddd;
      color: black;
  }
  
  .previous {
      background-color: #4CAF50;
      color: white;
      position: absolute;
      bottom: 20px;
      left: 20px;
  }
  
  .next {
      background-color: #4CAF50;
      color: white;
      position: absolute;
      bottom: 20px;
      right: 20px;
  }
  
  .round {
      border-radius: 75%;
  }

  .essay-button {
    background-color: #4CAF50;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 400px;
    font: 14px sans-serif;
  }

  .note{
      font: 14px sans-serif;
      text-align:center;
  }

  .description{

  }

  .instruction{
      font:11px sans-serif;
      font-style: italic; 
  }
  #header-title{
      font:40px sans-serif;
      position:absolute;
      top:0px;
      left:0px;
      height:100px;
      width:1000px;
      text-align:center;
      vertical-align:top;
  }

  #sidebar-blurb{
      position:absolute;
      top:120px;
      left:0px;
      height:600px;
      width:200px;
      background-color:lightsteelblue;
      padding:8px;
      font:12px sans-serif;
  }
  #body-text{
    position:absolute;
    top:300px;
    left:225px;
    width:750px;
    font: 18px sans-serif;
    text-align:left;
    vertical-align:middle;
  }
  #body-chart{
      position:absolute;
      top:120px;
      left:225px;
      width:750px;
      height:600px;
  }
  #bottom-buttons{
      position:absolute;
      bottom:0px;
      left:0px;
      height:100px;
      width:1000px;
  }